.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #232B2B;
  color: cadetblue;
  min-height: 50px;

  &__text {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    text-decoration: none;

    &:visited {
      text-decoration: none;
    }

    .MuiButton-root {
      border: 1px solid cadetblue;
      border-radius: 5px;
      color: cadetblue;
      padding: 5px 10px;
    }
  }

  &__links {
    display: flex;
  }


}

